<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
        <a class="navbar-brand" style="margin-right:0.1em;" href="/">
            <span class="d-none d-lg-inline" style="padding-left: 55px;"></span>
            <span style="font-weight: 300;font-size:22px;color:#111111">Zümra Kavafoğlu</span>
            <span class="d-block d-md-none" style="font-weight: 300;font-size:12px;color:#111111">Assistant Professor - Institute of Informatics</span>            
            <span class="d-none d-md-inline d-print-none" style="padding-left: 10px; font-weight: 300;font-size:14px;color:#111111">Assistant Professor - Institute of Informatics</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="https://www.linkedin.com/in/zumrakavafoglu"><i class="ionicons ion-social-linkedin linkedin-btn size-28"></i></a></li>
                <li class="nav-item" style="padding-left: 30px;"></li>
                
                <!-- <li class="nav-item"><a class="nav-link" style="color: #333333;" href="#top">Home</a></li>
                <li class="nav-item"><a class="nav-link" style="color: #333333;" href="#top">Courses</a></li>
                <li class="nav-item"><a class="nav-link" style="color: #333333;" href="#top">Publications</a></li>
                <li class="nav-item"><a class="nav-link" style="color: #333333;" href="#top">Projects</a></li> -->
                
                <!-- <li class="nav-item" style="text-align: center; width: 20px; color: #aaaaaa; line-height: 30px;">
                    |
                </li>
                <li class="nav-item">
                    {% if site.lang == "tr" %}
                        {% capture link1 %}{{ site.baseurl_root }}en{{ page.url}}{% endcapture %}                                   
                        <a class="nav-link" style="color: #333333;" href="{{ link1 }}" ><span class="flag-icon flag-icon-gb"></span> EN</a>
                    {% elsif site.lang == "en" %}
                        {% capture link2 %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
                        <a class="nav-link" style="color: #333333;" href="{{ link2 }}" ><span class="flag-icon flag-icon-tr"></span> TR</a>
                    {% endif %}
                    </span>    
                </li>  -->
            </ul>
        </div>
    </div>
</nav>