---
layout: block
order: 1
---
<div class="col-lg-4 text-left">    
    <h4><i class="ionicons ion-ios-pulse size-32" style="padding-right: 8px;"></i> News </h4>
    <ul style="margin-bottom: 0px; padding-left: 20px;">
        
        {% assign items-sorted = site.news | sort: 'date' | reverse %}
        
        {% for item in items-sorted %}
          
            {{ item.output }}
        
            {% if forloop.last == false %}
            <!-- <hr> -->
            {% endif %}
        
        {% endfor %}

        <div class="text-left">
            <a href="#">Older news...</a>
        </div>
    </li>
</div>

<div class="col-lg-5 text-center">    
    <h4><i class="fa fa-graduation-cap size-24" style="padding-right: 8px;"></i> Teaching </h4>
    <div style="font-size:18px;"><strong>2017-2018</strong></div>
    <div style="font-size:18px;">Spring</div>
    <a href="/courses/bca605.html">BCA605 : Bilgisayar Oyunlarında Yapay Zeka</a>
    <br>
    <a href="/courses/bca614.html">BCA614 :Bilgisayar Animasyonu II</a> 
    <br>
    <a href="/courses/bbs515.html">BBS515 : Nesneye Yönelik Programlama</a>
    <br><br>
    <div style="font-size:18px;"><strong>2017-2018</strong></div>
    <div style="font-size:18px;">Fall</div>
    BCA611 : Video Oyunları için 3B Grafik
    <br>
    BBS515 : Nesneye Yönelik Programlama
    <br>
    MTK467 : Nesneye Yönelik Programlama
<!--
    <br><br>
    <div style="font-size:18px;">Spring</div>
    <a href="#">BCA150 : Data Structure</a>
    <br>
    <a href="#">BCA152 : Computer Animation</a> 
-->
</div>

<div class="col-lg-3 text-right">    
    <h4><i class="ionicons ion-ios-contact-outline size-32" style="padding-right: 8px;"></i> Contact </h4>
    Institute of Informatics
    <br>
    Hacettepe University
    <br>
    Beytepe Campus
    <br>
    Ankara, Turkey TR-06800
    <br>
    <!-- <i class="fa fa-phone"></i> +90 (312) 780-0000 
    <br> -->
    <i class="fa fa-envelope-o"></i> <a href="mailto:zdemir@hacettepe.edu.tr" target="_top">zdemir@hacettepe.edu.tr</a>   
</div>