---
layout: block
---
<div class="col align-self-center">
    {% if page.lightText %}
    <h3 class="light-text">
    {% else %}
    <h3 class="">
    {% endif %}     
        {{ page.name }}
    </h3>

    {% if page.lightText %}
    <div class="light-text">
    {% else %}
    <div class="">
    {% endif %}                
        {{ content }}
    </div>
</div>
{% if page.imageVerticalAlign %}
<div class="col align-self-{{page.imageVerticalAlign}}" style={{page.imageContainerStyle}}>
{% else %}
<div class="col align-self-center" style={{page.imageContainerStyle}}>
{% endif %}
    <img class="landing-image" src="{{ page.image | prepend: site.baseurl_root }}" style={{page.imageStyle}}/>
</div>
